<div class="contenedor">
    <!-- Tarjeta -->
    <section class="tarjeta" #tarjeta (click)="parteTraseraTarjeta()">
      <div class="delantera">
        <div class="logo-marca" id="logo-marca">
          <img src="./assets/images/icons/card-mastercard.png" alt="" />
        </div>
        <img class="chip" src="./assets/images/icons/card-chip.png" alt="" />
        <div class="datos">
          <div class="grupo" id="numero">
            <p class="label">Número Tarjeta</p>
            <p class="numero">{{ numeroTarjeta }}</p>
          </div>
          <div class="flexbox">
            <div class="grupo" id="nombre">
              <p class="label">Nombre Tarjeta</p>
              <p class="nombre">{{ nombreTarjeta }}</p>
            </div>
  
            <div class="grupo" id="expiracion">
              <p class="label">Expiracion</p>
              <p class="expiracion">
                <span class="mes">{{ expiracionMes }}</span> / <span class="year">{{ expiracionAno }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="trasera">
        <div class="barra-magnetica"></div>
        <div class="datos">
          <div class="grupo" id="firma">
            <p class="label">Firma</p>
            <div class="firma"><p></p></div>
          </div>
          <div class="grupo" id="ccv">
            <p class="label">CCV</p>
            <p class="ccv">{{ ccv }}</p>
          </div>
        </div>
        <p class="leyenda">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          exercitationem, voluptates illo.
        </p>
        <a href="#" class="link-banco">www.payWill.com</a>
      </div>
    </section>
  
    <!-- Contenedor Boton Abrir Formulario -->
    <div class="contenedor-btn">
      <button
        class="btn-abrir-formulario"
        #btnAbrirFormulario
        (click)="abrirFormulario()"
      >
        <i class="bx bx-plus-circle"></i>
      </button>
    </div>
  
    <!-- Formulario -->
    <form #formulario class="formulario-tarjeta" [formGroup]="miFormulario">
      <div class="grupo">
        <label for="inputNumero">Número Tarjeta</label>
        <input
          type="text"
          (keyup)="inputNumero()"
          formControlName="inputNumero"
          maxlength="16"
          autocomplete="off"
        />
      </div>
      <div class="grupo">
        <label for="inputNombre">Nombre</label>
        <input
          type="text"
          id="inputNombre"
          maxlength="16"
          (keyup)="inputNombre()"
          formControlName="inputNombre"
          autocomplete="off"
        />
      </div>
      <div class="flexbox">
        <div class="grupo expira">
          <label for="selectMes">Expiracion</label>
          <div class="flexbox">
            <div class="grupo-select">
              <select name="mes" id="selectMes" formControlName="mes">
                <option disabled selected value="">Mes</option>
                <option *ngFor="let item of meses; let i = index" value="{{ item }}">
                  {{ item }}
                </option>
              </select>
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="grupo-select">
              <select name="year" formControlName="año">
                <option disabled selected>Año</option>
                <option *ngFor="let item of years; let i = index" value="{{ item }}">
                  {{ item }}
                </option>
              </select>
              <i class="fas fa-angle-down"></i>
            </div>
          </div>
        </div>
  
        <div class="grupo ccv">
          <label for="inputCCV">CCV</label>
          <input type="text" id="inputCCV"
                 (keyup)="inputCCV()"
                 formControlName="ccv"
                 maxlength="3" />
        </div>
      </div>
      <button type="submit" class="btn-enviar" (click)="addTarjeta()">Enviar</button>
    </form>
  </div>
  