<div class="contenido">
  <h1 class="text-center">Movimientos</h1>
  <hr>
  
  <div class="contenido-tipo">

    <div class="card-transferencia" routerLink="./transferirFondo">
        <div class="card-icon">
            <i class='bx bxs-right-arrow-circle'></i>
        </div>
        <div class="card-tipoMoviento">
          <h2>Trasnferir Fondos</h2>
          <span>Transfiere fondos del saldo PayWill</span>
        </div>
    </div>

    <div class="card-transferencia" routerLink="./recargarCuenta">
      <div class="card-icon">
        <i class='bx bxs-up-arrow-circle'></i>
      </div>
      <div class="card-tipoMoviento">
        <h2>Recargar Cuenta</h2>
        <span>Recargar cuenta PayWill</span>
      </div>
    </div>
    
  </div>
</div>